---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await getCollection("posts");
const pageTitle = "✒️ Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Astro Learning Blog</h2>
    <p>This is where we will post about our journey learning Astro.</p>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
        ))
        }
    </ul>
</BaseLayout>
