---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/ Greeting';

const pageTitle = "Astro demo for 💡 Clever Cloud ☁️";
import pkg from 'pg'
import { PrismaPg } from '@prisma/adapter-pg'
import { PrismaClient } from '@prisma/client'

const {Pool} = pkg;
const connectionString = `${process.env.DATABASE_URL}`

const pool = new Pool({ connectionString })
const adapter = new PrismaPg(pool)
---
<BaseLayout pageTitle={pageTitle}>
  <h2>An awesome blog built with Astro</h2>
  
  <!-- Directive to tell Astro to send and rerun its JavaScript on the client -->
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
